<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>&lt;string&gt;Мы используем вашу геолокацию для отображения погоды в вашем регионе.&lt;/string&gt;</string>
</dict>
</plist>
